.language-box {
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 0px 15px #cacaca;
}

.language-box .flag {
    height: 30px;
    margin-bottom: 5px;
}

.language-box h3 {
    margin-bottom: 0;
}

.language-box progress {
    appearance: none;
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-color: #2e2e2e;
    border-radius: 10px;
    overflow: hidden;
}

.language-box progress::-webkit-progress-bar {
    background-color: #2e2e2e;
    border-radius: 10px;
}

.language-box progress::-webkit-progress-value {
    background-color: #afb4bd; 
    border-radius: 10px 0 0 10px;
}

.language-box p {
    margin-bottom: 0;
}