$workbox-breakpoint: 990px;

.work-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 40px;
  margin: 40px 10%;
  align-items: center;

  &:nth-of-type(odd) {
    .first-column {
      order: 2;
    }
    .second-column {
      order: 1;
    }

    @media (max-width: $workbox-breakpoint) {
      .first-column,
      .second-column {
        order: initial;
      }
    }

    @media (min-width: ($workbox-breakpoint + 1)) {
      grid-template-columns: 2fr 1fr;
    }
  }

  .first-column {
    display: flex;
    justify-content: center;
    align-items: center;

    .work-logo {
      max-height: 250px;
      max-width: 100%;
      object-fit: contain;

      @media (max-width: $workbox-breakpoint) {
        height: 180px;
      }
    }
  }

  .second-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    h3 {
      margin-bottom: 10px;
    }

    .company {
      font-style: italic;
      margin-bottom: 5px;
    }

    .date {
      font-weight: 400;
      text-transform: uppercase;
      font-size: small;
      font-style: italic;
      margin-bottom: 10px;
    }

    .description {
      text-align: justify;
      margin-top: 0;
    }

    @media (max-width: $workbox-breakpoint) {
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }
  }

  @media (max-width: $workbox-breakpoint) {
    grid-template-columns: 1fr;
    row-gap: 20px;

    .first-column {
      order: 1;
    }
    .second-column {
      order: 2;
    }
  }
}