.work-box {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
    margin: 0 30px;
}

.work-box .second-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.work-box .work-logo {
    max-height: 60vh;
}

.work-box h3 {
    margin-bottom: 10px;
}

.work-box .company, .work-box .date {
    font-style: italic;
}

.work-box .date {
    font-weight: 400;
    text-transform: uppercase;
    font-size: small;
}

.work-box .description {
    text-align: justify;
}