#contact-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}

#contact-display a {
    padding: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
    text-decoration: none;
}

#email:hover {
    background-color: #c20a0a;
}

#linkedin:hover {
    background-color: #0a66c2;
}

#github:hover {
    background-color: #238636;
}

#contact form {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;
}

#contact form input, #contact form textarea {
    border: 1px solid white;
    background-color: transparent;
    margin-bottom: 15px;
    padding: 5px 8px;
    color: white;
}

#contact form input:focus, #contact form textarea:focus {
    background-color: white;
    color: black;
}

#contact form input[type=submit] {
    height: 40px;
}

#contact form input[type=submit]:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}