.project-box {
    background-color: rgb(31, 31, 31);
    border-radius: 25px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8em;
    padding: 15px 20px;
    width: 100%;
    color: white;
    border: 2px solid black;
}

.project-box:hover {
    cursor: pointer;
    background-color: rgb(116, 116, 116);
    border-color: rgb(42, 42, 42);
}

.project-box h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.project-box .technologies {
    font-style: italic;
}

.project-box img {
    width: 45px;
}

.project-box img:hover {
    background-color: black;
    border-radius: 25px;
}