#project-layout {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 20px;
    margin: 0 50px;
}

@media (max-width: 1140px) {
    #project-layout {
        grid-template-columns: 1fr;
        row-gap: 30px;
        align-self: center;
    }
}

#project-layout .project-column {
    background-color: rgb(55, 55, 55);
    height: max-content;
    border-radius: 25px;
}

#project-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* TODO */
#projects-category-filter {
    display: none;
}

#project-detail {
    text-align: left;
    padding: 35px 40px;
}

#project-detail h2 {
    text-transform: initial;
    padding-top: 0;
    display: inline;
    margin-right: 15px;
    margin-bottom: 0;
}

#project-detail .title-repo-header {
    display: flex;
    align-items: center;
    min-height: 50px;
}

#project-detail a img {
    width: 40px;
    padding: 5px;
    background-color: black;
    border-radius: 25px;
    border: 3px solid black;
}

#project-detail a img:hover {
    background-color: transparent;
    transition: 0.5s;
}

#project-detail .technologies-desc {
    font-style: italic;
}

#project-detail img {
    width: 100%;
    margin: 20px 0;
}

#project-detail .long-description-text {
    text-align: justify;
}