.it-skill-box div {
    background-color: rgb(57, 57, 57);
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    padding: 5px 10px;
}

.it-skill-box .logo {
    height: 100px;
    margin: 0 auto;
}

.it-skill-box div:hover {
    background-color: rgb(40, 40, 40);
}