.section {
    padding: 0 50px;
}

#education h2 {
    margin-bottom: 0;
}

#education ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

#it-skills ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 30px;
}