#education h2 {
    margin-bottom: 50px;
}

#education .date {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}

#education .degree {
    font-size: 4em;
    font-weight: 700;
    background: linear-gradient(rgb(96, 96, 96), rgb(18, 18, 18));
    background-clip: text;
    color: transparent;
    position: relative;
    left: -10px;
    top: 10px;
}

#education .state {
    width: 60px;
    opacity: 0.3;
}

#education .logo {
    height: 70px;
    width: 70px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid white;
    padding: 7px;
    margin-top: -50px;
}

#education ul li div {
    background-color: rgb(28, 28, 28);
    padding: 12px;
    width: max-content;
    margin-top: 65px;
}


#cvut .logo {
    background-color: #0072BB;
}

#ksu .logo {
    background-color: #512888;
}