.section {
    padding: 0 50px;
}

#education h2 {
    margin-bottom: 0;
}

#education ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

@media (max-width: 899px) {
    #education ul {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    #education ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

#it-skills {
    display: inline-flex;
    flex-direction: column;   
}

#it-skills ul {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
}

@media (max-width: 579px) {
    #it-skills ul {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 580px) {
    #it-skills ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 830px) {
    #it-skills ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1050px) {
    #it-skills ul {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1300px) {
    #it-skills ul {
        grid-template-columns: repeat(5, 1fr);
    }
}

#languages ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}