#main h1 {
    margin-bottom: 0;
}

#main .title {
    margin-bottom: 40px;
}

#subtitle {
    font-style: italic;
}

#text-photo-section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 30px;
    align-items: center;
}

#text-photo-section p {
    text-align: justify;
}

#text-photo-section img {
    width: 100%;
}

#link-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;align-items: center;
    margin-top: 30px;
}

#link-buttons .link-button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

#link-buttons .link-button:hover {
    background-color: white;
    color: black;
}